
/* Task 1 */
.parent {
    width: 112px;
    height: 112px;
    display: flex;
    text-align: center; 
    border: 1px solid black;
    margin-left: 160px;
    margin-top: 32px;
   
}

.box1{
    width: 50px;
    height: 50px;
    background-color: aquamarine;
    position: absolute;
    left: 200px;
    top: 400px;

} 
 .box2{
    width: 50px;
    height: 50px;
    background-color: aquamarine;
    position: absolute;
    left: 170px;
    top: 370px;
    margin-left: px;
}
.box3 
   {width: 50px;
    height: 50px;
    background-color: aquamarine;
    position: absolute;
    left: 230px;
    top: 370px;
    
}
 .box4{
    width: 50px;
    height: 50px;
    background-color: aquamarine;
    position:absolute;
    left: 170px;
    top: 430px;
    
}
 .box5{
    width: 50px;
    height: 50px;
    background-color: aquamarine;
    position: absolute;
    left: 230px;
    top: 430px;
    
}

/* Task 3 */


.card{
    width: 1050px;
    border: 2px solid black;
    float: left;
    background-color: lightgrey;
    margin-left: 220px;
    
    
}
.card img{
    width: 300px;
    height: 160px;
    float: right;
    padding-top: 10px;
    padding-right: 10px;
}
.card p{
    width: 700px;
    float: left;
    padding-left: 15px;
}


/* Task 4 */
.wrap{
    border: 2px solid black;
    width: 1000px;
    height: 600px;
    margin: 0 auto;
    overflow: auto;
    
}

nav{
    width: 1000px;
    height: 75px;
    background-color: black;
    margin: 0 auto;
    
}

nav .logo p{
    font-size: 20px;
    font-weight: 200;
    float: left;
    color: white;
}
nav .logo ul{
    float: right;
}
nav .logo li{
    display: inline-block;
    list-style: none;
    
}
nav a{
font-size: 15px;
text-transform:;
color: aqua;
text-decoration: none;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
nav .nav6{
    border: 1px solid white;
    border-radius: 5px;

}
nav .nav2{
    color: white;
}
.logo2{
    width: 950px;
    margin: 0 auto;
    height: 400px;
    padding: 20px;
    color: brown;
   


